.container {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.node circle {
  fill: none;
  stroke: rgb(0, 175, 255);
  stroke-width: 15px;
}

.node text {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  fill: black;
}

.nodeSelected text {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  fill: black;
  font-weight: bold;
}

.node {
  cursor: pointer;
}

path.link {
  fill: none;
  stroke: #2593B8;
  stroke-width: 1.5px;
}

body {
  background-color: white;
  overflow: hidden;
}

span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #F4F4F4;
  float: right;
}

.red {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.black{
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
  stroke-dasharray: 5;
}
